.header {
    display: flex;
    width: 620px;
    height:70px;
    justify-content: space-between;

}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}

.login {
float: right;    
}

h2 {
    float: left;
    padding-left: 30px;
}

.leaderboardBtn {
    width: 100px;
    color: rgb(43, 79, 225);
    font-weight: bold;
}

.playAgainBtn {
    background-color: rgb(43, 79, 225);
    color: white;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer {
    
    width: 620px;
    height: 0px;
}
